<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method="post">
  <label for="fname">Employee ID:</label><br>
  <input type="text" id="eid" name="eid" value="2147209"><br>
  <label for="lname">Employee Name:</label><br>
  <input type="text" id="name" name="name" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 
<!-- 
<form action="/display" method="get">
  <input type="submit" value="Display">
</form> -->

<p>If you click the "Submit" button, the form-data will be sent to a page called "ABHI NHI PATA".</p>

</body>
</html>